*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.display_flex{
    display: flex;
}
a {
    text-decoration: none;
    list-style: none;
}
.container1{
    width: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); 
 }
.padding_logo{
    margin: 10px 5px;
}
#logo_mnit{
    width: 62px;
    height:auto;

}
#logo_ti{
    width: 64px; 
    height:auto;
}
#heading1{
    font-family: Poppins;
    font-style: normal; 
    font-weight: 600;
    font-size: 21px;
    padding: 1px 15px;
/* identical to box height */

text-transform: uppercase;
color: #F58220;
}
#heading2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    /* identical to box height */
    
    text-transform: uppercase;
    padding: 1px 15px;
    color: #F58220;
}
/* .heading_2{
    
} */
.background_img2{
    display: inline;
}
#heading_3{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 131.5%;
/* identical to box height, or 66px */

text-align: center;

color: #F58220;
width: 758px;
height: 66px;
}
#img_back1{
    width: 100%;
}
.icons{
   margin-left: 10px;
   margin-right: 10px;
 
}
 .center{
    padding-top: 15px;
  
 }
 .para_about{
     padding-top: 50px;
 }
 .para{
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(74, 74, 74, 0.15);
    border-radius: 23px;
    padding:10px 20px;
    
 }
 #para1{
     padding: 25px 25px;
 }
 #para_img{
    width: 408px;
    height: 322px;
    
    padding-top: 25px;
 }
 #announcement1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 131.5%;
    /* identical to box height, or 46px */
    
    text-align: center;
    
    color: #F58220;
 }
 #announcement2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 131.5%;
    /* identical to box height, or 46px */
    
    text-align: center;
    
    color: #F58220;
 }
 .vl {
    border-left: 2px solid #FFFFFF;
    height: 300px;
    text-align: right;
  }
 .img1{
     position: flex;
     
     align-items: center;
 }
 .imagesofperson{
     display: flex;
     
     align-items: center;
     flex-direction: row ;
 margin: auto;;
    }
.subtext{
    margin: 0;
}
.img_div{
    display: flex;
    justify-content: center;
}
.mainblock{

    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:560px) {
    #heading1{
        display: none;
    }
    #heading2{
        display: none;
    }
}
@media screen and (max-width:770px){
    .mainblock{
        display: flex;
        justify-content: center;
    }
    .display_flex{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:1200px) {
.para_about{
    display: flex;
    justify-content: center;
}
    .parimg{
        display: flex;
        justify-content: center;
    }
    .para{
        margin-top: 15px;
    }
}
@media screen and (max-width:484px) {
.announcement{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
}
.announcement{
    display: flex;
    justify-content: center;
}

.container_menu {
    display: inline-block;
    cursor: pointer;
  }

  .menu{
      height: 100vh;
      width: 320px;
      background-color: #2D0808;
      position: fixed;
      top: 35px;
      z-index: 100;
      right: -320px;
    transition: width 100s ease;
    

  }
  .menubtn{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 27px;
      position: absolute;
      float: right;
      top: 0px;
      left: -100px;
      
  }
  .menubtn span:nth-child(2){
      width: 30px;
  }
  .menubtn:hover span:nth-child(odd){
      width: 30px;
  }
  .menubtn:hover span:nth-child(2){
      width: 40px;
  }


  .menubtn span{
      height: 5px;
      width: 40px;
      background-color: #FF7500;
      border-radius: 20px ;
      transition: width 0.5s;
      cursor: pointer;
  } 
  .nav2{
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column ;
     justify-content: center;
     align-items: center;
     opacity: 0.8;
     transition: width 0.5s ease;

  }
  @media screen and (max-width:415px) {
      .menu{
          width:100%;
      }
      
  }
  .nav2 ul{
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }

  .nav2 ul li{
      padding: 10px;
  }
  .nav2 ul li a{
      text-decoration: none;
      color: #fff;
  }
  .nav2 ul li a:hover{
      color: #FF7500;
  }
  


@media screen and (max-width:660px) {
    .menubar{
        position: absolute;
        padding-left: 85%;
    }
}
@media screen and (max-width:460px) {
    .menubar {
        position: absolute;
        padding-left: 75%;
    }
}
@media screen and (max-width:360px) {
    #para_img{
width: 360px;
    }
}
@media screen and (max-width:321px) {
    #para_img {
        width: 360px;
    }
}
.heritage{
    padding-top: 50px;
    margin-bottom: 100px;
    position: relative;
}
.heritage_img{
    width: 100%;
}
.heritage_head{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: #F58220;
}
.heritage_subhead{
    font-weight: 600;
    font-size: 21px;
    text-align: center;
    color: #20C2F5;
     
}
.heritage_back{
    background: #FFFFFF;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(60px);
/* Note: backdrop-filter has minimal browser support */
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
/* display: flex; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position:absolute;

}
.heritage_parent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.heritage_back:hover{
    box-shadow: 0px 0px 20px #F58220;
    transition: transform .1s ease-out;
}
@media screen and (max-width: 1024px) {
    .heritage_back{
        position: absolute;
        /* top: 30%; */
        
    }
    .heritage_head{
        font-size: 18px;
    }
    .heritage_subhead{
        font-size: 10px;
    }
}
.initiative_head{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 56px;
/* identical to box height, or 112% */



color: #FF7500;

mix-blend-mode: normal;
}


/* .initiative_element_box{
    background: #FFFFFF;
    box-shadow: 10px 10px 50px rgba(229, 233, 246, 0.4);
    border-radius: 10px;
    display: flex;
    height: 110px;
    width: 300px;
    padding: 10px;
    border: 1px rgba(0, 0, 255, 0.295) dotted;
    
} */
/* .initiative_element_text{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
 color: #001F7E;
width: 100%;
mix-blend-mode: normal; 
} */
.initiative_element_text1{
    width: 100%;
}
@media screen and (max-width:1000px) {
    .initiative_box{
        display: flex;
        justify-content: center;
    }
    
}
.initiative_element_img{
    width: 100%;
    height: 100%;
}
.initiative_element_img1{
    width: 100%;
}
.initiative_element_box:hover{
    box-shadow: 1px 2px 50px rgba(59, 113, 255, 0.4);
}
@media screen and (max-width:992px) {
    .initiative_element_box{
        display: flex;
        justify-content: center;
    }
}
.magzine_box{
    background: #FFFFFF;
box-shadow: 0px 0px 47.25px -18px rgba(0, 0, 0, 0.15);
border-radius: 33.75px;
}
.magzine_book{
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.magzine_book1{
    width: 100%;
}
@media screen and (max-width:770px) {
    .latest_edition{
        display: flex;
        justify-content: center;
    }
}

.cultural{
    background: rgba(32, 194, 245, 0.8);
border-radius: 0px;

}
.cultural_img{
    width: 20vw;
    height: auto;
    padding: 10px;
}

@media screen and (max-width: 770px) {
    .cultural_img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60vw;
    }
    .cultural_box{
        display: flex;
        justify-content: center; 
    }
}
.events{
    background: #FFFFFF;
    box-shadow: 0px 0px 47.25px -18px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.event_para {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event_para p{
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
    margin: 20px;
    width: 60vw;
}
.events_img{
    margin: 1rem 1.3rem;
 
}
.events_img1{
    width:4vw;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgb(169, 216, 255);
}
@media screen and (max-width:580px) {
    .events_img{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:1000px) {
    .events_img1{
        width:40px;
        cursor: pointer;
        border-radius: 10px;
        border: 2px solid rgb(169, 216, 255);
    }
}




.photo_event_more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head_team_member{
    
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 56px;
/* identical to box height, or 187% */

text-align: center;

color: #000000;
}
.incharge{
    background: #FFFFFF;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.incharge:hover {
    box-shadow: none;
}
.hide {
    display: none;
  }

 #sections_col{
   background-color: #2D0808;
   height: 300px;
   border: 1px solid #fff;
 }
 #sections_col:hover{
     transition: transform .5s ease-in;
     transform: scale(1.3);
     z-index: 1000;

 }


 /* Debate sectioon........................................................................... */
 .purpose_debate{
    background: #FFFFFF;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
border-radius: 10px;
height: 100%;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size:20px;
line-height: 36px;
margin-top: 50px;
margin-bottom: 50px;
padding-top: 50px;
padding-bottom: 50px;
list-style: none;
 }

 .purpose_debate  ul{
     list-style: none;
 }


 
 /* entreprenuer section .....................................................*/
 .vision_ep{
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size:20px;
    line-height: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
 }
 .vision_ep ul{
     list-style: none;
 }
 .vision_ep_img{
width: 100%;
margin-top: 50px;
    margin-bottom: 50px;
 }
 /* coding section .....................................................*/

 .achievements_coding1{
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size:20px;
    line-height: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
 }

 .achievements_coding2{
     height: 100%;
     width: 100%;
 }

  /* Heading under */
.lineHeading{
    width: 65px;
    height: 4px;
    background: rgb(255, 153, 0);
}
.circleHeading{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(0, 132, 255);
}
.lineCircle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Footer  and social media*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.youtube:hover
{
  background-color:#ff0000
}
.social-icons a.github:hover
{
  background-color:#000000
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.card-body{
    position: relative;
    top: -10px;
}
.card-title{
    font-size: 1rem;
}
/* footer End  */
